{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">Personal Data Science Blog of Nate Hall</h1>
</div>
<div class="homepage-blurb row">
    <div class="col-sm-12">
        <p>I am making this resource of code snippets and articles from my journey through data science to hopefully aid others who are working to learn as well.</p>
    </div>
</div>

<div class="row" id="Articles">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Articles</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
            <li><a href="./articles/billboard_analysis.html">Billboard Hot 100 Analysis</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="Python">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Python</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <li><a href="./python/load_dataset_with_csv_reader.html">Load Dataset with CSV.Reader</a></li>
          <li><a href="./python/a_basic_python_function.html">A Basic Python Function</a></li>
          <li><a href="./python/dictionary_comprehension_for_list_of_lists.html">Dictionary Comprehension for List of Lists</a></li>
          <li><a href="./python/load_dataset_from_url.html">Load Dataset from URL</a></li>
      </div>
    </div>
  </div>
</div>
<div class="row" id="Data_Wrangling">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Data Wrangling</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Editing</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="./wrangling_data/editing_column_names.html">Editing Column Names</a></li>
            <li><a href="./wrangling_data/unpivoting_columns.html">Unpivoting Columns</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Adding</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Grouping/Splitting</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Other</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<div class="row" id="Command_Line">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Command Line</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <li><a href="...">...</a></li>
      </div>
    </div>
  </div>
</div>-->
<div class="row" id="EDA">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Exploratory Analysis</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Descriptive Stats</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="./">Coming Soon<!--center,spread, shape--></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Relationships</h3>
      </div>
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row" id="Statistics">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Statistics</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<div class="row" id="Machine_Learning">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Machine Learning</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <li><a href="...">...</a></li>
      </div>
    </div>
  </div>
</div>

<div class="row" id="GitHub">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">GitHub</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
            <li><a href="...">...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>-->

{% endblock content %}
