<!--Style Inspired by Chris Albon-->
{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">Personal Data Science Blog of Nate Hall</h1>
</div>
<div class="homepage-blurb row">
    <div class="col-sm-12">
        <p>Site under contruction</p>
    </div>
</div>
<div class="row" id="Articles">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Articles</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Articles' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row" id="Python">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Python</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Basics</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Basics' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Visualization</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Data Visualization' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
