{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">Personal Data Science Blog of Nate Hall</h1>
</div>
<div class="homepage-blurb row">
    <div class="col-sm-12">
        <p>SITE UNDER CONSTRUCTION</p>
    </div>
</div>

<div class="row" id="Articles">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Top Articles</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
            <li><a href="./articles/billboard_analysis.html">Billboard Hot 100 Analysis</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="Python">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Top Visualizations</h2>
  </div>
  <div class="responsive">
    <div class="img">
      <a target="_blank" href="img_fjords.jpg">
        <img alt="png" src="images/sat_scores/output_60_0.png" alt="Trolltunga Norway" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>


  <div class="responsive">
    <div class="img">
      <a target="_blank" href="img_forest.jpg">
        <img alt="png" src="images/sat_scores/output_60_0.png" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="img">
      <a target="_blank" href="img_lights.jpg">
        <img alt="png" src="images/sat_scores/output_60_0.png" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="img">
      <a target="_blank" href="img_mountains.jpg">
        <img alt="png" src="images/sat_scores/output_60_0.png" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

<div class="clearfix"></div>
</div>

{% endblock content %}
